:root {
  /* Neutral */
  --neutral-900: hsl(0, 0%, 7%);
  --neutral-800: hsl(0, 0%, 15%);
  --neutral-500: hsl(240, 3%, 46%);
  --neutral-400: hsl(240, 1%, 59%);
  --neutral-0: hsl(0, 0%, 100%);

  /* Blue */
  --blue-600: hsl(214, 100%, 55%);
  --blue-400: hsl(210, 100%, 65%);

  /* Red */
  --red-500: hsl(354, 63%, 57%);

  /* Green */
  --green-500: hsl(140, 63%, 57%);

  /* Yellow */
  --yellow-400: hsl(49, 85%, 70%);
}
body {
  font-family: "Sora", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  background-color: var(--neutral-900);
  color: var(--neutral-500);
}

.comtainer{
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.WPM{
      display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.WPM span{
    color: var(--neutral-0);
}
.calcus{
    border-bottom: 2px solid var(--neutral-500);
}
.calcus, .choices, .percenage, .diff{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.choice{
    font-size: 10px;
    color: var(--neutral-0);
    padding: 5px;
    border: 2px solid var(--neutral-0);
    border-radius: 5px;
}

.choice:hover{
    color: var(--blue-400);
    border: 2px solid var(--blue-400);
    cursor: pointer;
}
.choice.active{
    color: var(--blue-400);
    border: 2px solid var(--blue-400);
    cursor: pointer;
}

.choice input[type="radio"] {
  display: none;
}


#WPM{
    color: var(--neutral-0);
}
#Accuracy{
    color: var(--red-500);
}
#Time{
    color: var(--yellow-400);
}
.end,.restart{
     display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.restart{
    width: 200px;
    border-radius: 10px;
    margin-top: 50px;
    gap: 20px;
    color: var(--neutral-0);
    background-color: var(--neutral-800);  
    cursor: pointer;
}

div#game{
    margin-top: 10px;
    line-height:50px;
    height:305px;
    position: relative;
    font-size: 34px;
}
div#game:focus{
    outline:0;
}
#words{
    filter: blur(5px);
    color: var(--neutral-500);
}
#game:focus #words{
    filter: blur(0);
}
#focus-error {
    position: absolute;
    inset: 0;
    text-align: center;
    padding-top: 35px;
}
#game:focus #focus-error{
    display:none;
}
div.word{
    display: inline-block;
    font-family: 'Roboto Mono', monospace;
    margin: 0 5px;
}
.letter.correct{
    color:var(--green-500);
}
.letter.incorrect{
    color:var(--red-500);
}
@keyframes blink{
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
#cursor{
    display:none;
    width: 2px;
    height: 3rem;
    background: var(--neutral-0);
    position: fixed;
    top: 200px;
    left: 50px;
    animation: blink .3s infinite;
}
#game:focus #cursor{
    display: block;
}
#game.over #words{
    opacity: .5;
    filter: blur(0px);
}
#game.over:focus #cursor{
    display:none;
}
#game.over #focus-error {
    display: none;
}